body{
    background-image: url(../images/bck_img.jpg);
    width: 100wh;
    height: 100vh;
    background-position: center; 
    background-size: cover; 
    text-align: center;
}

label{
    color: white;
}

.signIn{
    color: antiquewhite;
}

.content-register{
    margin: 50px 0px;
}